/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700; color:#222;
}
body {

font-family: 'Open Sans', sans-serif;
font-size: 17px;color:#565656;


}

.video-area-bg{background: url('../img/99.jpg'););

background-color:#ddd;
background-position: center;
background-size: cover;
position: absolute;

left: 0;height:100%;width:45%;
}

.video-area{position:relative; margin-top:60px;}
.check-icon li:before{font-family: fontAwesome;

content:"\f00c"; color: green;
}

.video-play-btn{font-size:70px;float: right;margin-top:80px;color:cyan;}

.video-area h3{color:red;}